# ⛔ Виртуальное окружение
venv/

# 🗂 Кэш и байткод
__pycache__/
*.pyc
.pytest_cache

# 🔒 Секреты и переменные окружения
scraper/.env

# 🧠 IDE-файлы
.vscode/
.idea/

# 📊 Временные и лог-файлы
*.log
vacancies_*.csv
ranked_vacancies_*.csv
temp
